
.icon-facebook:before { content: '\f052'; } /* '' */
.icon-twitter-1:before { content: '\f058'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */