/*section*/

section{
    margin: 0 auto; /*가운데정렬*/
    max-width:1903px;
    height: auto;
    font-family: 'Lato', sans-serif;
   /* border : 5px solid red;*/
}

section .movie_inner{
    width : 1895px;
    text-align: center;
  /*  border : 3px solid blue;*/
}

/*movie*/

.movie_name ul{
    text-align: center;
    padding-right: 18px;
}

.movie_name span{
    text-align: center;
    font-size: 1.6rem;
}

.movie_inner ul li{ 
     display: inline-block;
     max-width: 255px; /* 한 개 poster의 크기와 높이(영화이름,버튼포함)*/
     max-height: 360px;
}

.movie_name ul{
    border-left: 1px solid rgba(217,217,217);
    border-right: 1px solid rgba(217,217,217);
}

.movie_button{
    border-left: 1px solid rgba(217,217,217);
    border-right: 1px solid rgba(217,217,217);
    border-bottom: 1px solid rgba(217,217,217);
}

/*poster*/

.poster img{
    max-width: 250px;
    max-height: 358px;
}

/*ul 태그 movielist*/

#movielist .movie_button{
    text-align: center;
}

#movielist .movie_button input{
    margin: 5px;
}

