
/* 현재 의미가 없어서 주석처리함 (동현) */
/* .headertable{
	width:"1903px";
}
td {
	
	background-image: url('Imgs/topbg.gif');
	
	padding: 0px;asd
	
	
}

footer{
	height: 200px;
	background-image: url('logo_bottom.gif');
	background-color: #231F1E;
	margin-top:100px; <---�빀移좊븣 �궘�젣諛붾엺
	padding-left: 450px;
	
	
}



div{
	color:#969291;
	padding-top: 100px;
		
}

#footerimg{
	padding-top: 20px;
} */
